<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>

    <div class="container">
        <h1>Welcome, {{ current_user.username }}!</h1>
        <h1>Stock Data App</h1>
        <a href="{{ url_for('logout') }}">Logout</a><br><br>
        <form action="{{ url_for('dashboard') }}" method="post">
            <label for="ticker">Stock Ticker:</label>
            <input type="text" id="ticker" name="ticker" required>
            
            <label for="purchase_price">Purchase Price:</label>
            <input type="number" id="purchase_price" name="purchase_price" step="0.01" required>
            
            <label for="num_shares">Number of Shares:</label>
            <input type="number" id="num_shares" name="num_shares" step="1" required>
            
            <button type="submit">Add Data</button>
        </form>
        <h2>Stock Data</h2>
        <table>
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Purchase Price</th>
                    <th>Shares</th>
                    <th>Latest Price</th>
                    <th>Return (%)</th>
                    <th>Forward PE</th>
                    <th>Dividend Yield</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.ticker }}</td>
                    <td>${{ stock.purchase_price }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>${{ stock.latest_price }}</td>
                    <td>{{ stock.return_performance|round(2) }}%</td>
                    <td>{{ stock.forward_pe|default(0)|round(2) }}</td>
                    <td>{{ stock.div_yield|default(0)|round(2) }}%</td>
                    <td>
                        <form action="/delete" method="post" style="display:inline;">
                            <input type="hidden" name="ticker" value="{{ stock.ticker }}">
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Portfolio Return: {{ portfolio_return|round(2) }}%</h2>
    </div>
</body>

</html>