<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Stock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Edit Stock</h2>
        <form method="POST">
            <label for="ticker">Stock Ticker:</label>
            <input type="text" id="ticker" name="ticker" class="form-input" value="{{ stock.ticker if stock is defined and stock.ticker is not none else '' }}" required>
            
            <label for="purchase_price">Purchase Price:</label>
            <input type="number" id="purchase_price" name="purchase_price" class="form-input" step="0.01" value="{{ stock.purchase_price|float if stock is defined and stock.purchase_price is not none else '' }}" required>
            
            <label for="num_shares">Number of Shares:</label>
            <input type="number" id="num_shares" name="num_shares" class="form-input" value="{{ stock.shares|int if stock is defined and stock.shares is not none else '' }}" required>
            
            <label for="purchase_date">Purchase Date:</label>
            <input type="date" id="purchase_date" name="purchase_date" class="form-input" value="{{ stock.purchase_date.strftime('%Y-%m-%d') if stock is defined and stock.purchase_date is not none else '' }}" required>
            
            <button type="submit" class="form-input">Update Stock</button>
        </form>
    </div>
</body>
</html>