<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body class="body-home">
    <header class="main-header">
        <div class="logo">StockDB</div>
        <div class="language-selector">
            <a href="{{ url_for('set_language', language='en') }}">EN /</a>
            <a href="{{ url_for('set_language', language='jp') }}">日本語</a>
        </div>
        <nav>
            <a href="{{ url_for('login') }}">{{ translations[language]['login_page'] }}</a><br>
            <a href="{{ url_for('register') }}">{{ translations[language]['register'] }}</a><br>    

        </nav>
    </header>

    <div class="banner"></div>
    <img src="{{ url_for('static', filename='images/loopy.png') }}" alt="character" style="width:100px; height:auto;" class="dog-image">

    <!-- <footer class="footer-home">
        <p>&copy; 2024 StockDB. All rights reserved.</p>
    </footer> -->
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Stock DB. All rights reserved.</p>
            <nav class="footer-nav">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>
    </footer>

</body>

</html>