<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations[language]['portfolio'] }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="container">
        <h1>{{ translations[language]['portfolio'] }}</h1>
        <div class="language-selector">
            <a href="{{ url_for('set_language', language='en') }}">EN /</a>
            <a href="{{ url_for('set_language', language='jp') }}">日本語</a>
        </div>
        <a href="{{ url_for('logout') }}">{{ translations[language]['logout'] }}</a><br>
        <a href="{{ url_for('stockan') }}">{{ translations[language]['stock_analysis'] }}</a><span>: {{ translations[language]['stock_analysis_desc'] }}</span><br>
        <a href="{{ url_for('dashboard') }}">{{ translations[language]['back_to_stock_db'] }}</a><br>
        <a href="{{ url_for('today') }}">{{ translations[language]['todays_digest'] }}</a><br><br>

        <div class="todays-digest">
            <h3>{{ translations[language]['portfolio_return'] }}: 
                <span class="{{ 'positive-return' if portfolio_return and portfolio_return >= 0 else 'negative-return' }}">
                    {{ '{:+.2f}%'.format(portfolio_return|default(0)) }}
                </span>
            </h3>
            <h3>{{ translations[language]['with_dividend'] }}: 
                <span class="{{ 'positive-return_withincome' if portfolio_return_withincome and portfolio_return_withincome >= 0 else 'negative-return_withincome' }}">
                    {{ '{:+.2f}%'.format(portfolio_return_withincome|default(0)) }}
                </span>
            </h3>
        </div>

        <h3>{{ translations[language]['portfolio_summary'] }}:</h3>
        <ul>
            <li>{{ translations[language]['total_value'] }}: {{ '{:,}'.format(total_value|round(0)|int) }}</li>
            <li>{{ translations[language]['total_income_gain'] }}: {{ '{:,}'.format(total_income_gain|round(0)|int) }}</li>
            <li>{{ translations[language]['total_capital_gain'] }}: {{ '{:,}'.format(return_value|round(0)|int) }}</li>
            <!-- <li>Dividend: {{ '{:,}'.format(dividend_value|round(0)|int) }}</li> -->
            <li>{{ translations[language]['number_of_stocks'] }}: {{ num_stocks }}</li>
            <li>{{ translations[language]['win_rate'] }}: {{ win_rate|round(2) }}%</li>
            <li>{{ translations[language]['average_days_held'] }}: {{ avg_days_held|round(0)|int }}</li>
            {% if longest_held_stock %}
            <li>{{ translations[language]['longest_held'] }}: {{ longest_held_stock.company_name }} ({{ longest_held_days }} {{ translations[language]['days'] }})</li>
            {% endif %}
            {% if shortest_held_stock %}
            <li>{{ translations[language]['shortest_held'] }}: {{ shortest_held_stock.company_name }} ({{ shortest_held_days }} {{ translations[language]['days'] }})</li>
            {% endif %}
        </ul>

        <h3>{{ translations[language]['portfolio_performance'] }}</h3>
        <div class="performance-chart">
            <img src="data:image/png;base64,{{ portfolio_performance_chart }}" alt="{{ translations[language]['portfolio_performance'] }}">
        </div>
        <p class="chart-footnote">
            {{ translations[language]['gain_explanation'] }}
        </p>
    </div>
    <img src="static/images/agent1.png" alt="agent1" class="dog-image">

</body>




</html>