<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations[language]['stock_analysis'] }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{ translations[language]['stock_analysis'] }}</h1>
        <div class="language-selector">
            <a href="{{ url_for('set_language', language='en') }}">EN /</a>
            <a href="{{ url_for('set_language', language='jp') }}">日本語</a>
        </div>
        <a href="{{ url_for('dashboard') }}">{{ translations[language]['back_to_stock_db'] }}</a><br><br>
        <form id="stock-form" action="{{ url_for('stockan') }}" method="POST">
            <label for="ticker">{{ translations[language]['stock_ticker'] }}:</label>
            <input type="text" id="ticker" name="ticker" value="{{ ticker or '' }}" required>
            <button type="submit">{{ translations[language]['get_stock_info'] }}</button>
        </form>
        
        {% if stock_info %}
        <h2>{{ stock_info.company_name }}</h2>
        <div class="stock-info-columns">
            <div class="left-column">
                <ul>
                    <li>{{ translations[language]['market_cap'] }}: ${{ stock_info.market_cap }}</li>
                    <li>{{ translations[language]['pe_ratio'] }}: {{ stock_info.per }}</li>
                    <li>{{ translations[language]['pb_ratio'] }}: {{ stock_info.pbr }}</li>
                    <li>{{ translations[language]['dividend_yield'] }}: {{ stock_info.dividend_yield }}%</li>
                </ul>
            </div>
            <div class="right-column">
                <ul>
                    <li>{{ translations[language]['target_mean_price'] }}: {{ stock_info.targetMeanPrice }}</li>
                    <li>{{ translations[language]['target_median_price'] }}: {{ stock_info.targetMedianPrice }}</li>
                    <li>{{ translations[language]['analyst_rating'] }}: {{ stock_info.analystRating }}</li>
                    <li>{{ translations[language]['number_of_analysts'] }}: {{ stock_info.numberofAnalysts }}</li>
                </ul>
            </div>
        </div>
        <h3>{{ translations[language]['recent_stock_chart'] }}</h3>
        <div class="chart-container">
            <img src="{{ stock_info.chart_image }}" alt="{{ translations[language]['recent_stock_chart'] }}" id="stock-chart">
        </div>
        
        {% if stock_info.valuation_history %}
            <h3>{{ translations[language]['valuation_history'] }}</h3>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>{{ translations[language]['metric'] }}</th>
                            {% for date in stock_info.valuation_history.keys() %}
                                <th>{{ date }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% set metrics = stock_info.valuation_history[stock_info.valuation_history.keys()|list|first].keys() %}
                        {% for metric in metrics %}
                        <tr>
                            <td>{{ metric }}</td>
                            {% for date in stock_info.valuation_history.keys() %}
                                <td>{{ stock_info.valuation_history[date].get(metric, 'N/A') }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>{{ translations[language]['valuation_not_available'] }}</p>
        {% endif %}
        
        <h3>{{ translations[language]['memo'] }}</h3>
        <form method="POST" action="{{ url_for('save_memo') }}">
            <input type="hidden" name="ticker" value="{{ stock_info.ticker }}">
            <textarea name="memo" rows="4" cols="50">{{ stock_info.memo }}</textarea>
            <br>
            <button type="submit">{{ translations[language]['save_memo'] }}</button>
        </form>
        {% endif %}
    </div>
    <img src="static/images/agentmale3.png" alt="agent" class="agent-image">
    <script>
        // You can add any client-side JavaScript here if needed
    </script>
</body>
