<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
    <div class="container">
        <h1>Today's Digest</h1>
        <a href="{{ url_for('dashboard') }}">Back to Stock DB</a><br><br>
        <div class="todays-digest">
            <h3>Portfolio: 
                <span class="{{ 'positive-performance' if portfolio_performance and portfolio_performance >= 0 else 'negative-performance' }}">
                    {{ '{:+.2f}%'.format(portfolio_performance|default(0)) }}
                </span>
            </h3>
            <h3>Nikkei 225: 
                <span class="{{ 'positive-performance' if nikkei_performance and nikkei_performance >= 0 else 'negative-performance' }}">
                    {{ '{:+.2f}%'.format(nikkei_performance|default(0)) }}
                </span>
                {% if nikkei_date %}<span class="date-info">(as of {{ nikkei_date }})</span>{% endif %}
            </h3>
            <h3>S&P 500: 
                <span class="{{ 'positive-performance' if sp_performance and sp_performance >= 0 else 'negative-performance' }}">
                    {{ '{:+.2f}%'.format(sp_performance|default(0)) }}
                </span>
                {% if sp_date %}<span class="date-info">(as of {{ sp_date }})</span>{% endif %}
            </h3>
        </div>
        
        <h2>Stock Performances</h2>
        <div class="performance-chart">
            <img src="data:image/png;base64,{{ performance_chart }}" alt="Stock Performances">
        </div>

        <h2>Portfolio Performance</h2>
        <div class="portfolio-performance-chart">
            <img src="data:image/png;base64,{{ portfolio_performance_chart }}" alt="Portfolio Performance">
        </div>

        <img src="static/images/agent2.png" alt="agent" class="agent-image">
    </div>
</body>